@page "/";
<PageTitle>About me</PageTitle>

    <nav id="main-navbar" class="container-fluid navbar navbar-expand-md fixed-top navbar-before-scroll text-white bg-primary">
        <div class="container d-flex justify-content-between">
    
        <a class="navbar-brand" href="#">Logo</a>
        <button class="navbar-toggler me-5" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <div class="row">
            <ul class="navbar-nav ml-auto fs-5 mx-3 w-50 justify-content-between">
                <li class="nav-item active col">
                    <a class="nav-link text-black" href="#">Home</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link text-black" href="#">Services</a>
                </li>
                <li class="nav-item col">
                    <a class="nav-link text-black" href="#">Contact</a>
                </li>
            </ul>
            </div>
        </div>
        </div>
    </nav>
<div class="container heros d-flex justify-content-center align-items-center rounded-3" style="position:relative; margin-top:70px; height:70vh;">
    <div class="overlay d-flex justify-content-center align-items-center border-2">
        <div class="d-flex align-items-center animate__animated animate__jackInTheBox animate__delay-1s"> <h1 class="display-3 text-center z-3 text-white text-shadow fw-bolder   " style="text-shadow:2px 3px 5px black;">Hi! I am a</h1> <h1 class="ms-3 display-3 text-center z-3  text-shadow fw-bolder animate__animated animate__pulse animate__delay-2s animate__infinite text-warning" style="text-shadow:2px 3px 5px black;">software developer.</h1></div>
      </div>
</div>
<div class="container" style="height:auto; margin-top:30px;">
    
    <div class="nav nav-tabs d-flex justify-content-between border-bottom-0" id="myTab" role="tablist">
        <div class="nav-item" role="presentation">
            <button class="nav-link bg-primary text-black px-5 py-4  rounded-3 btn btn-sm fw-bolder shake-horizontal" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">About me</button>
        </div>
        <div class="nav-item" role="presentation">
            <button class="bg-warning text-black px-5 py-4 rounded-3 btn btn-sm fw-bolder tilt-in-fwd-tr" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">My Skills</button>
        </div>
    </div>

    <div class="container tab-content mt-5 overflow-hidden rounded-3 " id="myTabContent">
        <div class="containe tab-pane animate__animated animate__flipInX" id="home">
            <div class="row" style="height:auto;">
                <div class="col-sm-6 bg-primary rounded-3 overflow-hidden text-black py-4 px-4 d-flex flex-column justify-content-around align-items-center" style="border: 10px dashed rgb(13, 13, 13) ;">
                    <h1 class="fw-bolder animate__animated animate__rubberBand animate__delay-3s">Hi!, My name is Salmin</h1>
                    <p class="lead text-center animate__animated animate__zoomIn animate__delay-4s">
                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                        It has survived not only five centuries,
                        but also the leap into electronic typesetting,
                        remaining essentially unchanged.
                
                    </p>
                    <center><button class="nav-link active bg-warning text-black border-0 px-5 py-3  rounded-3 btn btn-sm fw-bolder animate__animated animate__fadeInUp animate__delay-5s zoom-effect" >Contact</button></center>
                </div>
                <div class="col-sm-6 bg-primary rounded-3 text-white d-flex align-items-center justify-content-center py-4 " style="border: 7mm ridge rgb(13, 13, 13);">
                        <img class="rounded-circle bg-warning animate__animated animate__zoomInDown animate__delay-5s" src="/avatar-ga8c4158bc_1280.png" style="width:350px; height:350px;" />
                </div>
            </div>
        </div>
        <div class="container tab-pane animate__animated animate__flipInX pb-5 bg-warning rounded-3" id="profile">
            <div class="row">
                <div class="col bg-warning py-3 px-3">
                    <center><h1 class="py-3">Tech i use</h1></center>
                    <div class="container">

                        <div class="row animate__animated animate__lightSpeedInLeft animate__delay-1s  rounded-3 border border-5 border-white bg-dark py-3 px-3">
                            <p class="text-white pb-2">These are, but not limited to, the tech i use for building client-side applications</p>
                            <div class="col"><img src="/icons8-html-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-css-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-javascript-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-react-native-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-bootstrap-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-jquery-48.png" width="50px;" height="50px;" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col  py-3 px-3">
                    
                    <div class="container">

                        <div class="row animate__animated animated__delay-2s animate__lightSpeedInRight  rounded-3 border border-5 border-white bg-dark py-3 px-3">
                        <p class="text-white pb-2">These are, but not limited to, the tech i use for building fast and scalable backend applications</p>
                            <div class="col"><img src="/icons8-nodejs-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-microsoft-sql-server-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-c-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-mongodb-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-mongoose-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-postgresql-48.png" width="50px;" height="50px;" /></div>
                       </div>
                       </div>
                    </div>
                </div>
           
            <div class="row">
                <div class="col  py-3 px-3 ">
                    
                    <div class="container">

                        <div class="row animate__animated animate__lightSpeedInLeft animate__delay-3s rounded-3 border border-5 border-white bg-dark py-3 px-3">
                            <p class="text-white pb-2">Others and more...</p>
                            <div class="col">
                                <img class="zoom-effect" data-bs-toggle="tooltip" data-bs-placement="top"
                                     data-bs-custom-class="custom-tooltip"
                                     data-bs-title="This top tooltip is themed via CSS variables" src="/icons8-npm-48.png" width="50px;" height="50px;" />
                            </div>
                            <div class="col"><img class="zoom-effect" src="/icons8-git-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img class="zoom-effect" src="/icons8-github-30.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img class="zoom-effect" src="/icons8-amazon-web-services-48 (2).png" width="50px;" height="50px;" /></div>
                            <div class="col"><img class="zoom-effect" src="/icons8-docker-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img class="zoom-effect" src="/icons8-azure-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img class="zoom-effect" src="/icons8-firebase-48.png" width="50px;" height="50px;" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col bg-warning py-3 px-3">
                    <center><h1 class="py-3">Graphic design</h1></center>
                    <div class="container">

                        <div class="row  rounded-3 border border-5 border-white bg-dark py-3 px-3">
                            <p class="text-white pb-2">These are, but not limited to, the tools i use for designing.</p>
                            <div class="col"><img src="/icons8-photoshop-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-adobe-illustrator-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-adobe-after-effects-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-blender-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-adobe-xd-48.png" width="50px;" height="50px;" /></div>
                            <div class="col"><img src="/icons8-figma-48.png" width="50px;" height="50px;" /></div>
                        </div>
                    </div>
                </div>
            </div>
            </div> 
       
</div>
</div>
<div class="container  py-5 my-1" style="height:auto;">
    <center><h1 class="display-5 my-5 fw-bolder text-white tracking-in-expand ">Services</h1></center>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-between gap-sm-2" style="height:auto;">
        <div class="col col-lg-3  bg-warning rounded-3 d-flex flex-column justify-content-center align-items-center border-5 border-info my-3 py-3  zoom-effect" style="height:30vh;">
            <img src="/icons8-laptop-art-palette-100.png" />
            <h3 class="fw-bolder text-white text-center my-3">Graphic desing</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
        <div class="col col-lg-3 bg-warning d-flex flex-column justify-content-center align-items-center rounded-3 my-3 py-3 zoom-effect" style="height:30vh;">
            <img src="/icons8-search-engine-optimization-100.png" width="80" height="80" />
            <h3 class="fw-bolder text-white text-center my-3">Search Optmization Engine(SEO)</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
        <div class="col col-lg-3 bg-warning d-flex flex-column justify-content-center align-items-center rounded-3 my-3 py-3 zoom-effect" style="height:30vh;">
            <img src="/icons8-web-100.png" />
            <h3 class="fw-bolder text-white text-center my-3">Web development</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 justify-content-between my-5">
        <div class="col col-lg-3 bg-warning d-flex flex-column justify-content-center align-items-center rounded-3 border-info border-1 my-3 py-3 zoom-effect" style="height:30vh;">
           <img src="/icons8-business-report-100.png" />
            <h3 class="fw-bolder text-white text-center my-3">Data analysis</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
        <div class="col col-lg-3 bg-warning d-flex flex-column justify-content-center align-items-center rounded-3 border-info border-4 my-3 zoom-effect" style="height:30vh;">
           <img src="/icons8-responsive-web-100 (1).png" />
            <h3 class="fw-bolder text-white text-center my-3">Web Hosting</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
        <div class="col col-lg-3 bg-warning d-flex flex-column justify-content-center align-items-center rounded-3 border-info my-3 py-3 zoom-effect" style="height:30vh;">
            <img src="/icons8-smartphones-100.png" />
            <h3 class="fw-bolder text-white text-center my-3">Mobile app</h3>
            <p class="lead text-white text-center">Software Systems, Websites, Algorithms, AI & ML Models and Bots.</p>
        </div>
    </div>
</div>

<div class="container" style="height:auto;">
    <center><h1 class="display-5 my-5 fw-bolder text-white">Projects</h1></center>
    <div class="row h-100" >
        <div class="col-sm-6 bg-primary text-white zoom-effect">
           <img src="/0.jpg" class="img-fluid"/>
        </div>
        <div class="col-sm-6 bg-dark text-white zoom-effect">
           <img src="/hd-wallpaper-gc970338d5_1920.jpg" class="img-fluid"/>
        </div>
        <div class="col-sm-6 bg-dark text-white zoom-effect">
           <img src="/image (9).jpg" class="img-fluid"/>
        </div>
        <div class="col-sm-6 bg-primary text-white zoom-effect">
            <img src="/news-1.jpg" class="img-fluid"/>
        </div>
    </div>
</div>
<div class="container py-2 my-2" style="height:auto;">
    <center><h1 class="display-5 my-5 fw-bolder text-white">Contact us</h1></center>
    <div class="row">
        <div class="col-* bg-warning rounded-3 d-flex align-items-center justify-content-center" style="height:auto;">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=882&amp;height=527&amp;hl=en&amp;q=arusha&amp;t=h&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/">Capcuttemplate.org</a></div><style>
                                                                                                                                                                                                                                                                                                                                                                 .mapouter {
                                                                                                                                                                                                                                                                                                                                                                     position: relative;
                                                                                                                                                                                                                                                                                                                                                                     text-align: right;
                                                                                                                                                                                                                                                                                                                                                                     width: 882px;
                                                                                                                                                                                                                                                                                                                                                                     height: 527px;
                                                                                                                                                                                                                                                                                                                                                                 }

                                                                                                                                                                                                                                                                                                                                                                 .gmap_canvas {
                                                                                                                                                                                                                                                                                                                                                                     overflow: hidden;
                                                                                                                                                                                                                                                                                                                                                                     background: none !important;
                                                                                                                                                                                                                                                                                                                                                                     width: 882px;
                                                                                                                                                                                                                                                                                                                                                                     height: 527px;
                                                                                                                                                                                                                                                                                                                                                                 }

                                                                                                                                                                                                                                                                                                                                                                 .gmap_iframe {
                                                                                                                                                                                                                                                                                                                                                                     width: 882px !important;
                                                                                                                                                                                                                                                                                                                                                                     height: 527px !important;
                                                                                                                                                                                                                                                                                                                                                                 }</style>
            
                                                                                                                                                                                                                                                                                                                                                             </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row row-cols-1 justify-content-between my-5">
        <div class="col-md-5 col bg-warning rounded-3 py-4 text-white border-3 border-warning">
            <p class="lead text-white">salmin20gmail.com</p>
            <p class="lead text-white">+255 758 738 069</p>
            <p class="lead text-white">Addess 5050 P.O.Box,</p>
            <p class="lead my-4 text-white">
                There are many variations of passages of Lorem Ipsum available.
            </p>
             </div>
        <div class="col-md-5 col bg-warning rounded-3 my-2 py-4 text-white border-3 border-warning">
               <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
           <button class="btn btn-warning p-3 rounded-3">Send message</button>
           </div>
       </div>
      
    </div>

<footer class="bg-primary mt-3" style="width:100%;height:5vh;">
    

</footer>
